body {
    background-color: rgb(83, 6, 6);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar .navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:visited {
    text-decoration-line: none;
    background-color: rgb(83, 6, 6);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(215, 219, 166);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
    color: white;
}

.fas {
    color: rgb(215, 219, 166);
}

.fas:hover {
    color: white;
}

#CWClogo {
    position: fixed;
    top: 14.5%;
    left: 33px;
    z-index: 3;
}

#container {
    float: right;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 70%;
    position: absolute;
    left: 15%;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    margin: none;
}

#root {
    width: 100%;
    margin: none;
    height: calc(100vh - 100px);
    position: absolute;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 11px;
    text-align: center;
    color: black;
    cursor: pointer;
    z-index: 3;
}

.card {
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
}

.card-title {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin-top: 0px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

.scroll {
    height: 585px;
    overflow-y: scroll;
}

#footer {
    position: fixed;
    bottom: 0;
}

#footer #footer.navbar #footer.navbar-light #footer.navbar-nav #footer.nav-link,
#footer.navbar-light #footer.navbar-nav #footer.nav-link:visited {
    text-decoration-line: underline;
    background-color: rgb(83, 6, 6);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(215, 219, 166);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}