a:link,
a:visited {
    color: rgb(83, 6, 6);
    text-decoration-style: solid;
    text-decoration: underline;
    font-weight: bold;
}

a:hover,
a:active {
    color: rgb(145, 1, 1);
    text-decoration-style: underline;
    text-decoration: rgb(83, 6, 6);
    font-weight: bold;
}

#blogger {
    position: relative;
    width: 75px;
    height: 75px;
    background-position: center center;
    object-fit: cover;
    float: left;
    margin: 2pt 14pt 0 0;
}

body {
    background-color: rgb(83, 6, 6);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

br {
    line-height: 14pt;
}

.card {
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
}

.card-title {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin-top: 0px;
    border: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
}

#contact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    line-height: 14pt;
    margin-top: 4.6pt;
    margin-left: 7pt;
}

#container {
    float: right;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 70%;
    position: absolute;
    left: 15%;
    height: 80%;
    top: 58%;
    transform: translateY(-50%);
    margin: none;
}

#CWClogo {
    position: fixed;
    top: 15.5%;
    left: 33px;
    z-index: 3;
}

.fas {
    color: rgb(215, 219, 166);
}

.fas:hover {
    color: white;
}

#footer {
    position: fixed;
    bottom: 0;
}

#footer #footer.navbar #footer.navbar-light #footer.navbar-nav #footer.nav-link,
#footer.navbar-light #footer.navbar-nav #footer.nav-link:visited {
    text-decoration-line: underline;
    background-color: rgb(83, 6, 6);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(215, 219, 166);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

#grapes {
    position: relative;
    width: 225px;
    height: 150x;
    background-position: center center;
    object-fit: cover;
    float: left;
    margin: 2pt 14pt 0 0;
}

h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 16pt;
    font-weight: bold;
    color: rgb(83, 6, 6);
    margin-bottom: 7pt;
}

h4 {
    font-family: "Times New Roman", Times, serif;
    font-size: 14pt;
    font-weight: bold;
    text-decoration-style: solid;
    text-decoration: rgb(83, 6, 6);
    margin-bottom: 7pt;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    line-height: 14pt;
    margin-bottom: 4.6pt;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    line-height: 14pt;
    margin-top: 4.6pt;
    margin-left: 7pt;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 11px;
    text-align: center;
    color: black;
    cursor: pointer;
    z-index: 3;
}

.navbar .navbar-light .navbar-nav a.nav-link,
.navbar-light .navbar-nav a.nav-link:visited {
    text-decoration-line: none;
    background-color: rgb(83, 6, 6);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(215, 219, 166);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.navbar-light .navbar-nav a.nav-link:hover,
.navbar-light .navbar-nav a.nav-link:focus {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(215, 219, 166);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    line-height: 14pt;
    margin-bottom: 14pt;
}

#root {
    width: 100%;
    margin: none;
    height: calc(100vh - 100px);
    position: absolute;
}

/* 
.scroll {
    height: 585px;
    overflow-y: scroll;
} */

.wineCard {
    width: 300px;
}



.myCarousel button {
    color: white;
    height: 100%;
    vertical-align: center;
}

.myCarousel {
    position: absolute;
    height: 100%;
}

.myCarousel .carousel,
.slider-wrapper,
.slider,
.carousel .slide img {
    height: 100%;
}

li.slide.selected,
li.slide {
    background-color: white;
    padding: 0;

}