.btn-browse {
    background-color: rgb(83, 6, 6);
    color: white;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    height: 23px;
    margin-left: 7px;

}

option {
    background-color: white;
    color: rgb(83, 6, 6);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 7px;

}

select {
    background-color: white;
    color: rgb(83, 6, 6);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 7px;

}

.scroll {
    height: 420px;
    overflow-y: scroll;
    margin-left: 10px;
}