/* welcome button */
#index-login {
    border:none;
    background-color: rgb(83, 6, 6);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(215, 219, 166);
    font-size: 18pt;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-align: center;
    text-align: center;
}

#index-login:hover {
    border:none;
    background-color: rgb(83, 6, 6);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 18pt;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-align: center;
    text-align: center;
}

/* tab text and anchors */

a {
    color: purple;
    text-decoration: none;
}

a:hover {
    color:mediumpurple;
    text-decoration: none;
}


/* form button */
.btn-block {
    border:none;
    background-color: rgb(83, 6, 6);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(215, 219, 166);
    font-size: 18pt;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-align: center;
    text-align: center;
}

.h4 {
    font-family: 'Times New Roman', Times, serif
}

/* icons... why so tiny? */
i.fab, .fas {
    color: black;
    width: 24px;
    height: auto;
}

.centered
{
    text-align:center;
    margin: none;
}

.list-group-item {
  line-height: 2.5;
}

.modal-icon{
  padding: 6px;
  width: 24px;
  height: 24px;
}

.list-group-item {
  line-height: 2.5;
}